<h1>AKI próbafeladat - Időjárás </h1>

<button type="button" onclick="frissites()">Adatok frissítése</button>
<div id="adatok">

</div>

<div id="map" style="width: 1024px; height: 600px;"></div>

<br>
<a href="export_csv.php">Exportálás CSV fájlba</a><br>
<a href="export_xml.php">Exportálás XML fájlba</a>


<script>

    /*
    function frissites() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
          document.getElementById("adatok").innerHTML = xhttp.responseText;
        }
      }
      xhttp.open("GET", "ajax.php?action=ajaxvalasz", true);
      xhttp.send();
    }
    */

    function frissites() {
        $.ajax({
            type : 'POST',
            dataType: 'json',
            url : 'ajax.php?action=ajaxvalasz',
            data: {
            'data': 'ezmegaz'
            },
            success: function( data ) {
                mapmegjelenit(data);
                document.getElementById("adatok").innerHTML = 'Adatok frissítve';
            }
        });
    }

    function default_map() {
        $.ajax({
            type : 'POST',
            dataType: 'json',
            url : 'ajax.php?action=default_map',
            data: {
            'data': 'ezmegaz'
            },
            success: function( data ) {
                mapmegjelenit(data);
            }
        });
    }

    function mapmegjelenit(adatok){

        //alert(adatok);
        window.adatok = adatok;

        var locations = [];

        for(var adatIndex in adatok) {
            var tmpAdat = adatok[adatIndex];

            var koordSplit = tmpAdat.koordinata.split(', ');
            var rowLength = tmpAdat.homersekletek.length;
            var bubbleString = "<h4>" + tmpAdat.varos_neve + "</h4> <table> ";
            for(i = 0; i < rowLength; ++i) {
                bubbleString += "<tr> <td> " + tmpAdat.idopontok[i] + " </td> <td>" + tmpAdat.homersekletek[i] + " </td> </tr>";
            }
            bubbleString += "</table>";
            var tmpLocation = [bubbleString, parseFloat(koordSplit[0]), parseFloat(koordSplit[1])];
            locations.push(tmpLocation);
        }

        // Setup the different icons and shadows
        var iconURLPrefix = 'http://maps.google.com/mapfiles/ms/icons/';

        var icons = [
          iconURLPrefix + 'red-dot.png',
          iconURLPrefix + 'green-dot.png',
          iconURLPrefix + 'blue-dot.png',
          iconURLPrefix + 'orange-dot.png',
          iconURLPrefix + 'purple-dot.png',
          iconURLPrefix + 'pink-dot.png',
          iconURLPrefix + 'yellow-dot.png'
        ]
        var iconsLength = icons.length;

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng(-37.92, 151.25),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          streetViewControl: false,
          panControl: false,
          zoomControlOptions: {
             position: google.maps.ControlPosition.LEFT_BOTTOM
          }
        });

        var infowindow = new google.maps.InfoWindow({
          maxWidth: 160
        });

        var markers = new Array();

        var iconCounter = 0;

        // Add the markers and infowindows to the map
        for (var i = 0; i < locations.length; i++) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            icon: icons[iconCounter]
          });

          markers.push(marker);

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));

          iconCounter++;
          // We only have a limited number of possible icon colors, so we may have to restart the counter
          if(iconCounter >= iconsLength) {
            iconCounter = 0;
          }
        }

        function autoCenter() {
          //  Create a new viewpoint bound
          var bounds = new google.maps.LatLngBounds();
          //  Go through each...
          for (var i = 0; i < markers.length; i++) {
                    bounds.extend(markers[i].position);
          }
          //  Fit these bounds to the map
          map.fitBounds(bounds);
        }
        autoCenter();
    }




  </script>





</script>